<%= render "shared/second.header"%>
<div class="show-contents">
<div class="show-image-box">

      <%= image_tag @florist.avatar ,size:'200x250',class:"" %>
    </div>
    <div class="show-parameters-box">

      <div class="parameter-box">
        <div class="parameter-title">名前</div>
        <div class="show-parameter">
        <%= @florist.name %>
        </div>
      </div>

      <div class="parameter-box">
        <div class="parameter-title">E-MAILL</div>
        <div class="show-parameter">
        <%= @florist.email %>
        </div>
      </div>
      
      <div class="parameter-box">
        <div class="parameter-title">ショップ名</div>
        <div class="show-parameter">
        <% if @shop_address.blank? %>
        <% else %>
        <%= @florist.shop_address.shop_name %>
        <% end %>
        </div>
      </div>
        </div>
      </div>


    </div>
      <div class="show-edit-box">
       <% if florist_signed_in? && current_florist.id == @florist.id %>
        
          <% if current_florist.id == @florist.id %>
        <div class="edit-box">
            <%= link_to "情報を編集する",   edit_florist_registration_path(@florist.id), method: :get, class:''%>
        </div>
        <div class="edit-box">
            <%= link_to "店舗情報を追加する",     new_florist_shop_address_path(@florist.id), method: :get, class:'' %>
        <% end %>
      <% end %>
      </div>
      </div>
 </div>
<% if  @plans.blank? %>
<% else %>
<% @plan_address_person.each do |person| %>
<ul>
  <li class="order-parameter">
    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%="注文番号"%>
      </div>
      <div class="order-parameter-value">
        <%=person.plan.id %>
      </div>
    </div>

    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%="配達日"%>
      </div>
      <div class="order-parameter-value">
        <%= "#{person.anniversary.month}月#{person.anniversary.day}日" %>
      </div>
    </div>

    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%=person.family_name_kana%>
      </div>
      <div class="order-parameter-value">
        <%=person.family_name%>
      </div>
    </div>

    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%=person.last_name_kana%>
      </div>
      <div class="order-parameter-value">
        <%=person.last_name%>
      </div>
    </div>

    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%="スタイル"%>
      </div>
      <div class="order-parameter-value">
        <%=person.plan.style%>
      </div>
    </div>

    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%="金額"%>
      </div>
      <div class="order-parameter-value">
        <%=person.plan.price%>
      </div>
    </div>

    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%="郵便番号"%>
      </div>
      <div class="order-parameter-value">
        <%=person.address.postal_code%>
      </div>
    </div>

    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%="都道府県"%>
      </div>
      <div class="order-parameter-value">
        <%=person.address.prefecture.name%>
      </div>
    </div>

    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%="市区町村"%>
      </div>
      <div class="order-parameter-value">
        <%=person.address.city%>
      </div>
    </div>

    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%="番地"%>
      </div>
      <div class="order-parameter-value">
        <%=person.address.house_number%>
      </div>
    </div>

    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%="ビル・建物名"%>
      </div>
      <div class="order-parameter-value">
      <% if person.address.building_name == blank? %>
      登録なし
        <% else %>
        <%=person.address.building_name%>
      <% end %>
      </div>
    </div>

    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%="電話番号"%>
      </div>
      <div class="order-parameter-value">
        <%=person.address.phone_number%>
      </div>
    </div>

    <div class="order-parameter-box">
      <div class="order-parameter-title">
        <%="配達時間"%>
      </div>
      <div class="order-parameter-value">
        <%=person.address.delivery_time.name%>
      </div>
    </div>

  </li>
</ul>
<% end %>
<% end %>

<%= render "shared/second.footer"%>