<%= render "shared/second.header"%>
<div class="plans-field plans-field-new">
  <div class="login-forms">
  <p class="info-input-haedline">投稿</p>
    <%= form_with model:@bouquet,url: florist_bouquets_path,local: true do |f| %>
     <%= render 'shared/error_messages', model: @bouquet %>
<%# 画像登録 %>
      <div class="one-input-parts">
        <div class="field">
        ブーケの写真
        <span class="">必須</span>
        </div>
      <div class="">
        <div class="text">
          クリックしてファイルをアップロード
        </div>
        <%= f.file_field :image, id:"item-image" %>
      </div>
  </div>
    <%# /画像 %>
     <%# １つのフォーム始まり %>
  <div class="one-input-parts">
    <div class="field">
    <h1 class='form-text'>
      プラン情報
      </h1>
      <span class="indispensable">必須</span>
    </div> 
    <%= f.select :style,
       [
         ["Bright",'bright'],
           ["Cute",'cute'], 
           ["Cool",'cool'], 
           ["Natural",'natural']
       ],prompt: "プランを選択してください" %>
  </div>
  <%# １つのフォーム終わり %>

      <div class="one-input-partsone-input-parts parts-margin">
        <%= f.label :commentary,class:"form-text" %><br />
        <%= f.text_area :commentary,class:"bouquet-text", autofocus: true, autocomplete: "コメント" %>
      </div>

      <div class="actions">
        <%= f.submit "投稿", class:"btn" %>
      </div>
    </div>
  <% end %>
</div>