 <%= render "shared/second.header"%>
 <div class="main-contents"><%#大括り%>
    <div class="person-links"><%#リンク部分の括り%>
      <div class="link-box"><%= link_to "大切な人を登録する",  new_dear_person_path ,class:''%></div>
      <ul class="link-box"><%= link_to "マイページを編集する", edit_user_registration_path%></ul>
    </div>

   <div class="person-contents">
    <% if (@user_dear_person) === nil? %><%#大切な人が登録されているいないの条件分岐%>
    大切な人がまだ登録さえていません
    <%else%>
    <ul class='person-lists'>
    <%# １つのdear_person %>
      <li class='person-list'>
        <% @dear_persons.each do  |person| %>
        <% if person.user_id == @user.id %>
        <div class="person-box">
          <%= link_to image_tag(  person.image,size: '400x400'),dear_person_path(person.id), class:'.dear-person-image'%>
        <div class="person-list-parameters">
          <%= person.nick_name%>
        </div>
        </div>
        <% end %>
        <%end%>
      </li>
    </ul>
    <% end %><%#条件分岐の終わり%>
    </div>
 </div>
  <%# <%= render "shared/second.footer"%> 