 <%= render "shared/second.header"%>
 <%= link_to "大切な人を登録する",  new_dear_person_path%>
 <%= link_to "マイページを編集する", edit_user_registration_path%>
<ul class=''>
<%# １つのdear_person %>
  <li class=''>
  <% @dear_persons.each do  |person| %>
    <%= link_to dear_person_path(person.id) do %>
    <%= image_tag  person.image.variant(resize:'500x500'), class:''%>
    <%= person.nick_name%>
    <%= person.birthday%>
    <%= person.anniversary%>
      <%end%>
  <%end%>
  </li>
</ul>
<%= render "users/shared/links" %>
 <%= render "shared/second.footer"%>