<%= render "shared/second.header"%>
<div class="plans-field-new">
  <div class="login-forms">
    <h3 class="info-input-haedline">大切な人を登録</h3>
      <%= form_with model:@dear_person, url: dear_persons_path, local: true do |form| %>
      <%# フォームの内部 %>
       <%= render 'shared/error_messages', model: @dear_person %>
      <%# 画像登録 %>
      <div class="one-input-parts">
        <div class="field">
        大切な人の写真
        <span class="">必須</span>
        </div>
      <div class="">
        <div class="text">
          クリックしてファイルをアップロード
        </div>
        <%= form.file_field :image, id:"item-image" %>
      </div>
  </div>
    <%# /出品画像 %>
  <%# １つのフォーム始まり %>
  <div class="one-input-parts">
    <div class="field">
      ニックネームを入力してください
      <span class="indispensable">必須</span>
    </div> 
    <%= form.text_field :nick_name, placeholder: "ニックネーム" %>
  </div>
  <%# １つのフォーム終わり %>

  <%# １つのフォーム始まり %>
  <div class="one-input-parts">
    <div class="form-text">
      名前を入力してください
      <span class="indispensable">必須</span>
    </div> 
    <div class="input-expiration-date-wrap">
    <%= form.text_field :family_name,class:"input-expiration-date dear-person-sizebox", placeholder: "例)田中" %>
    <%= form.text_field :last_name,class:"input-expiration-date dear-person-sizebox", placeholder: "例)花子" %>
    </div>
  </div>
  <%# １つのフォーム終わり %>

  <%# １つのフォーム始まり %>
  <div class="one-input-parts">
    <div class="form-text">
      名字のカナ入力してください
      <span class="indispensable">必須</span>
    </div> 
    <%= form.text_field :family_name_kana,class:"input-expiration-date", placeholder: "例)タナカ" %>
    <%= form.text_field :last_name_kana,class:"input-expiration-date", placeholder: "例)ハナコ" %>
  </div>
  <%# １つのフォーム終わり %>

  <%# １つのフォーム始まり %>
   <div class="one-input-parts">
    <div class='form-text-wrap'>
      <label class="form-text">生年月日</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
        form.date_select(
          :birthday,
          class:'select-birth',
          id:"birth-date",
          use_month_numbers: true,
          prompt:'--',
          start_year: 1930,
          end_year: (Time.now.year - 5),
          date_separator: '%s'),
        "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
    <div class='info-text text'>※ 本人情報は正しく入力してください。<br>会員登録後、修正するにはお時間を頂く場合があります。</div>
  </div>
  <%# １つのフォーム終わり %>

  <%# １つのフォーム始まり %>
   <div class="one-input-parts">
    <div class='form-text-wrap'>
      <label class="form-text">記念日</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
        form.date_select(
          :anniversary,
          class:'select-birth',
          id:"birth-date",
          use_month_numbers: true,
          prompt:'--',
          :discard_year => true,
          date_separator: '%s'),
        "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
    <div class='info-text text'>※ 本人情報は正しく入力してください。<br>会員登録後、修正するにはお時間を頂く場合があります。</div>
  </div>
  <%# １つのフォーム終わり %>
  <div class=''>
    <%= form.submit "登録" ,class:"btn" %>
  </div>
  <% end %>
  </div>
</div>
<%= render "shared/second.footer"%>
