 <%= render "shared/second.header"%>
 <div class="show-contents">
    <div class="show-image-box">
      <%= image_tag @dear_person.image ,size:'400x500',class:"" %>
    </div>
    <div class="show-parameters-box">

      <div class="parameter-box">
        <div class="parameter-title">名前</div>
        <div class="show-parameter">
        <%= @dear_person.nick_name %>
        </div>
      </div>

      <div class="parameter-box">
        <div class="parameter-title">名字</div>
        <div class="show-parameter">
        <%= @dear_person.family_name %>
        </div>
      </div>

      <div class="parameter-box">
        <div class="parameter-title">名前</div>
        <div class="show-parameter">
        <%= @dear_person.last_name %>
        </div>
      </div>

      <div class="parameter-box">
        <div class="parameter-title">誕生日</div>
        <div class="show-parameter">
        <%= "#{@dear_person.birthday.month}月#{@dear_person.birthday.day}日" %>
        </div>
      </div>

      <div class="parameter-box">
        <div class="parameter-title">記念日</div>
        <div class="show-parameter">
        <%= "#{@dear_person.anniversary.month}月#{@dear_person.anniversary.day}日" %>
        </div>
      </div>
      
      <div class="parameter-box">
        <div class="parameter-title">プラン</div>
        <div class="show-parameter">

        <% if @plans.blank? %><%#すべてのプランが空だったとき%>
          <%= link_to 'プランを決める', dear_person_plans_path(@dear_person.id), method: :get, class:''%>
        <% elsif @person_plan == nil %>
          <%= link_to 'プランを決める', dear_person_plans_path(@dear_person.id), method: :get, class:''%>
        <% else %>
        <%= @person_plan.style%>
        <% end %>

        </div>
      </div>

      <div class="parameter-box">
        <div class="parameter-title">担当フローリスト</div>
        <div class="show-parameter">

        <% if @favorite.blank? %><%#すべての favorite_floristが空だったとき%>
          <%= link_to '専属のフローリストを決める',new_dear_person_favorite_path(@dear_person.id), method: :get, class:''%>
        <% elsif @favorite == nil %>
          <%= link_to '専属のフローリストを決める',new_dear_person_favorite_path(@dear_person.id), method: :get, class:''%>
        <% else %>
        <%= @favorite.florist.name%>
        <% end %>

        </div>
      </div>


    </div>
      <div class="show-edit-box">
      <div class="edit-box">
          <%= link_to "情報を編集する", edit_dear_person_path(@dear_person.id), method: :get, class:''%>
      </div>
      <div class="edit-box">
          <%= link_to "削除する", dear_person_path(@dear_person.id), method: :delete, class:'' %>
      </div>
      </div>
 </div>
  <%= render "shared/second.footer" %>


