<%= render "shared/header.html.erb"%>
<%# トップコンテンツ %>
<div class="top-contents">
  <%= image_tag asset_path('top-image.jpg') %>
 
</div>
<%# end トップコンテンツ %>

<%# メインコンテンツ %>
<div class="main-contents">
  <div class="main-contents-title">
    <h3>記念日を覚えていますか？<h3>
  </div>
  <div class="">
    <p>大切な人の記念日を忘れがちなあなたへ、Flaaniを活用してみませんか。 
慌ただしく過ぎていく日々の中にも、大切な人の記念日はたくさんあります。
(結婚記念日、誕生日、母の日、父の日…)
Flaaniは、そのような大事な1日を忘れずにブーケをお届けするサービスです。
    </p>
  </div>
 <%=link_to '大切な人を登録',  new_dear_person_path, class:"btn btn-left" %>
</div>
<%# endメインコンテンツ %>

<%# ミドルコンテンツ %>
<div class="middle-contents">
  <div class="middle-contents-inner">
    <div class="left-content">
      <div class="left-content-title">
        <h3>Flaani</h3>
      </div>
      <div class=left-content-Description>
        <p>Flaaniは、毎月定期でお支払いいただくことで、記念日に素敵なブーケをお届けいたします。 まずはお一人だけでも、大切な人を登録しましょう。</p>
      </div>
        <div class="btn-left">
        <%=link_to '大切な人を登録',  new_dear_person_path, class:"btn btn-left" %>
        </div>
    </div>
    <div class="right-content">
          <div class="right-content-title">
        <h3>Florists</h3>
      </div>
      <div class=right-content-Description>
        <p>日々、花に魂を吹き込む職人＝floristが、あなたの大切な人に届くブーケをお作りします。経験豊富なfloristがおりますので、お客様が満足できる花束をお届けできます。
ご希望のfloristをお選びください</p>
      </div>
        <div class="btn-right">
          <%=link_to 'Floristを探す', root_path, class:"btn btn-right" %>
        </div>
    </div>
  </div>
  </div>
<%# endミドルコンテンツ %>

<%# バックグラウンド部分 %>
<div class="background-space">
</div>
<%# endバックグラウンド部分 %>

<%# スタイル紹介部分 %>
<div class="styles-contents">
  <div class="style-contents-inner">
    <div class="style-title">
      <h3 class="style-title">選択を簡単に</h3>
    </div>
    <div class="style-container">
      <div class="bright-style"></div>
      <div class="cute-style"></div>
      <div class="cool-style"></div>
      <div class="natural-style"></div>
    </div>
    <div class="style-Description">
      <p>Flaaniは4つのスタイルから選ぶだけでfloristが季節のお花を使って素敵なブーケを束ねてくれます。プランはいつでも変更可能です。
      </p>
    </div>
  </div>
</div>
<%# endスタイル紹介部分 %>
<%= render "shared/footer.html.erb"%>

