<%= render "shared/second.header"%>
<div class="plans-field plans-field-new">
  <div class="login-forms">
    <p class="info-input-haedline">Sign Up</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="one-input-partsone-input-parts parts-margin">
        <%= f.label :name ,class:"form-text"%><br/>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class:"input-default"%>
      </div>

      <div class="one-input-partsone-input-parts parts-margin">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"input-default"%>
      </div>

      <div class="one-input-partsone-input-parts parts-margin">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" ,class:"input-default"%>
      </div>

      <div class="one-input-partsone-input-parts parts-margin">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"input-default"%>
      </div>

      <div class="">
        <%= f.submit "Sign up" , class:"btn"%>
      </div>
  </div>
<% end %>
</div>

<%= render "users/shared/links" %>